<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
        default-init-method="init" default-destroy-method="delete">

    <context:annotation-config/>

    <!--<bean id="triangle" class="beans.Triangle">-->


        <!--&lt;!&ndash;for method injection&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="type" value="Equilateral"/>&ndash;&gt;-->

        <!--&lt;!&ndash;for constructor injection&ndash;&gt;-->
        <!--<constructor-arg value="2" index="1"/>-->

        <!--<constructor-arg value="Equilateral" index="0" />-->

        <!--<property name="pointA" ref="pointZero"></property>-->
        <!--<property name="pointB" ref="pointA"></property>-->
        <!--<property name="pointC" ref="pointB"></property>-->


    <!--</bean>-->

    <bean id="pointZero" class="beans.Point">
        <property name="x" value="${pointZero.pointX}"></property>
        <property name="y" value="${pointZero.pointY}"></property>
    </bean>

    <bean id="pointA" class="beans.Point">
        <property name="x" value="0"></property>
        <property name="y" value="20"></property>
        <qualifier value="circleCentre"/>
    </bean>

    <bean id="pointB" class="beans.Point">
        <property name="x" value="-20"></property>
        <property name="y" value="0"></property>
    </bean>


    <!--<bean class="beans.CustomBeanPostProcessor"></bean>-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="beans/pointsConfig.properties"></property>
    </bean>






    <bean id="circle" class="beans.Circle">

        <!--removed for @Autowired centre property -->
        <!--<property name="centre" ref="pointZero"></property>-->

    </bean>

    <!--thorws error for missing proberty, see setter marked with @Required in Circle -->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>


    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <!--<bean id="centre" class="beans.Point">-->
        <!--<property name="x" value="${pointZero.pointX}"></property>-->
        <!--<property name="y" value="${pointZero.pointY}"></property>-->
    <!--</bean>-->


    <!--scan for components-->

    <context:component-scan base-package="beans"></context:component-scan>



</beans>